
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section link
{
    <style>

    </style>
}

<form>
    <input name="test" type="text" />
    <input type="submit" value="提交" />
</form>


@section script
{
    <script type="text/javascript">
        $(function () {
        
        })
    </script>
}

